.admin
  flex-wrap: wrap
  .users
    width: calc(70% - 1em)
    margin-right: 1em
    padding-right: 1em
    border-right: 1px solid #ccc
.approve-documents
  width: calc(70% - 1em)
  margin-right: 1em
.admin-functions
  width: 30%
  height: auto
  a
    padding: 1em
    color: $accent-color
    font-size: 1.1em
    border-bottom: 1px solid $divider-color
    width: 100%

.approve-document
  justify-content: space-between
  padding: 1em
  align-items: center
  margin-bottom: 1em
  .title
    font-size: 1.1em
  .btn
    margin-left: .5em
.dashboard
  font-size: 2em
  padding: 1em
  margin-bottom: 1em
  border-bottom: 1px solid #ccc
  font-weight: bold
