.document
  margin-bottom: 1.2em
  &:last-child
    margin-bottom: 0
  .title
    padding: 0.4em 0.6em
    font-family: $headline-font
    border-bottom: 1px solid $divider-color
    font-size: 1.3em
    color: #a5b0b3
  .document-info
    display: flex
    justify-content: space-between
  .download
    margin: 0.5em
    .doc-info
      color: $text-color
    .btn
      margin-left: 0.5em
      padding-left: 3em
      padding-right: 3em
.new_document
  display: flex
  flex-direction: column
.document-form
  padding: 2em
.upload-btn
  background: #5f6c79
  margin: 1em 0
  &:hover
    background: #707f8f
  &:active
    background: #4e5863

.document-submit
  width: 30%
#document_course_id
  padding: 0.4em
  margin-bottom: 1em
  cursor: pointer
  display: block
  width: 100%
