.document
  margin-bottom: 2em
  &:last-child
    margin-bottom: 0
  .title
    padding: 0.4em 0.6em
    font-family: $headline-font
    border-bottom: 1px solid $divider-color
    font-size: 1.5em
    color: #5f7d82
  .document-info
    display: flex
    justify-content: space-between
  .download
    margin: 0.5em
    .doc-info
      color: #a1bdc1
    .btn
      margin-left: 0.5em
      padding-left: 3em
      padding-right: 3em
.new_document
  display: flex
  flex-direction: column
.document-form
  padding: 2em
.upload-btn
  background: #87c9d6
  margin: 1em 0
.document-submit
  width: 20%
