body
  background: #ebf3f4
  font-family: $content-font
[class^="icon-"], [class*=" icon-"]
  height: 22px
  width: 22px
  fill: currentColor
input, textarea
  outline: none
  border: none
input[type=text], input[type=password], input[type=email], textarea
  border: 1px solid #e1e1e1
  border-radius: 3px
  padding: 5px
  transition: border-color 200ms ease-in-out
  &:focus
    border-color: $primary-color
a
  color: $secondary-text-color
