.flex-center-around
  display: flex
  align-items: center
  justify-content: space-around
.flex-center-start
  display: flex
  align-items: center
  justify-content: flex-start
.flex-center-end
  display: flex
  align-items: center
  justify-content: flex-end
.container
  margin: 0 auto
  width: 100%
  padding: 0 2em
.white-box
  background: white
  overflow: hidden
  border-radius: 3px
.flex-column
  display: flex
  flex-direction: column
.flex-start
  display: flex
  flex-direction: flex-start
.flex-column-center
  display: flex
  flex-direction: column
  align-items: center
.btn
  margin: 0
  padding: 0.5em 2em
  outline: none
  text-decoration: none
  cursor: pointer
  border: none
  display: flex
  align-items: center
  justify-content: center
  background: $primary-color
  border-radius: 3px
  color: white
  font-size: 1.1em
  font-family: $headline-font
  &:hover
    background: lighten($primary-color, 5%)
.btn-block
  width: 100%

.sixteenth-px
  height: 16px !important
  width: 16px !important
.half-long-btn
  width: 30%
.active
  border-bottom: 3px solid white
.collapsed
  display: none
  visibility: hidden
.toggle-reply
  display: none
  visibility: hidden
.active-nav
  border-bottom: 5px solid white

.add-new-btn
  height: 50px
  width: 100%
  background: $accent-color
  border-radius: 3px
  display: flex
  justify-content: center
  align-items: center
  color: white
  font-family: $headline-font
.no-results
  width: 100%
  text-align: center
  font-size: 1.2em
  color: #aaa
  padding: 1em
  background: #fff
  margin-bottom: 1em
.lighter-color
  background: $divider-color
  color: $accent-color
#error_explanation
  h2
    font-size: 1em
  ul
    list-style-type: disc
    margin: 0
    padding: 1em 1em 1em 2em
    li
      font-size: 1em
      color: #d58585
