.posts
  width: calc(70% - 1.2em)
  margin-right: 1.2em
.posts-sidebar
  width: 30%
  .title
    text-align: center
    color: #c8d3d5
  .content
    padding: 1em
    color: $text-color
.post
  margin-bottom: 1.2em
  &:last-child
    margin-bottom: 0
  .title
    padding: 0.6em
    font-family: $headline-font
    border-bottom: 1px solid $divider-color
    font-size: 1.3em
    a
      color: $accent-color
  .post-content
    word-wrap: break-word
.info-element
  // border-left: 1px solid $divider-color
  padding: 0.5em 1em
  color: $text-color
  a
    margin-top: -5px
    color: $text-color
  svg
    margin-bottom: -3px
.user_avatar
  border-radius: 100%
  margin-bottom: -6px
.show-post
  margin-bottom: 0
  .info
    border-bottom: 1px solid $divider-color
.post-content
  padding: 2em
  blockquote
    border-left: 5px solid $primary-color
    padding-left: 0.5em
    margin-left: 1em
    font-style: italic
.post_form
  padding: 20px 30px
#post_title
  display: block
  width: 100%
  margin-bottom: 1em
#post_content
  display: block
  width: 100%
  height: 350px
  margin-bottom: 1em
  resize: vertical
.post_submit
  width: 20%
#post_course_id
  padding: 0.4em
  margin-bottom: 1em
  cursor: pointer
  display: block
  width: 100%

#major_name
  display: block
  padding: 0.4em
  margin-bottom: 1em
  cursor: pointer
  width: 100%

.votes
  width: 170px
  padding: .5em
  border-right: 1px solid $divider-color
.vote-box
  padding: 0 .4em
  svg
    margin-bottom: -2px
.upvote
  color: #2abb30
  svg
    transform: rotate(180deg)
.downvote
  color: #ee6767
.vote-avg
  width: 30px
  text-align: center
  transition: all 200ms ease-in-out
.posts-functions
  margin-bottom: 1.2em

.posts-search
  width: 100%
  .search-field
    font-size: 1em !important
.add-new-post
  border-top: none
.top-course
  margin-bottom: .3em
  padding: .7em 1em
  font-family: $headline-font
  font-size: 1em
  background: #f7f7f7
  color: #999
  border-left: 5px solid $accent-color
  width: 100%
