.profile-user-info
  padding: 2em 0
  border-bottom: 1px solid $divider-color
  .user-avatar
    border-radius: 100%
    border: 2px solid $divider-color
  .user-full_name
    font-size: 1.3em
    font-weight: 700
    margin-bottom: -5px
    margin-top: 5px
    color: $accent-color
  .user-username
    color: #888
  .user-bio
    width: 50%
    text-align: center
.user-posts
  padding: 2em
.user-single-post
  border-radius: 5px
  background: #fbfbfb
  border: 1px solid $divider-color
.profile-tabs
  border-bottom: 1px solid $divider-color
  .tab
    padding: 0.5em 2em
    text-align: center
    width: 33.333333333%
    border-left: 1px solid $divider-color
    &:last-child
      border-left: 0
.user-points-date
  border-radius: 5px
  margin-top: 2em
  border: 1px solid $divider-color
  div
    padding: 0.5em 2em
  .points
    border-left: 1px solid $divider-color
