.profile
  color: $text-color
  .tabs
    width: 100%
    border-bottom: 1px solid $divider-color
    .tab-link
      width: 50%
      &:first-of-type
        border-right: 1px solid $divider-color
  .active
    border-bottom-color: $primary-color
    color: #b6dce2
.profile-user-info
  padding: 2em 0
  border-bottom: 1px solid $divider-color
  .user-avatar
    border-radius: 100%
    border: 2px solid $divider-color
  .user-full_name
    font-size: 1.3em
    font-weight: 500
    margin-top: 10px
    color: $primary-color
  .user-bio
    width: 50%
    margin-top: 5px
    text-align: center
.user-posts
  padding: 2em
.download-btn
  margin-bottom: 3px
.user-single-post
  border-radius: 5px
  background: lighten($divider-color, 2%)
  border: 1px solid darken($divider-color, 3%)
  .title
    border-bottom: 1px solid darken($divider-color, 3%) !important
.profile-tabs
  border-bottom: 1px solid $divider-color
  .tab
    padding: 0.5em 2em
    cursor: pointer
    text-align: center
    width: 33.333333333%
    border-right: 1px solid $divider-color
    &:last-child
      border-right: 0
