.edit-user
  .user-info-fields
    padding: 2em
    border-left: 1px solid $divider-color
    width: 50%
  .user-avatar
    padding: 2em
    width: 50%
  .user-bio
    width: 100%
    display: block
    resize: none
    margin-bottom: 1em
    height: 180px
.input-block
  display: block
  width: 100%
  margin-bottom: 0.5em
#avatar_upload
  display: none
  visibility: hidden
  opacity: 0
#avatar_label
  svg
    margin-right: 0.3em
.login-form
  width: 300px
  padding: 1em
  input
    margin: 0.3em 0
    padding: .7em .7em .7em 2em
  .username
    background-image: url(/username.svg)
    background-repeat: no-repeat
    background-size: 23px
    background-position: 2% 48%
  .password
    background-image: url(/password.svg)
    background-repeat: no-repeat
    background-size: 17px
    background-position: 3% 48%
  .email
    background-image: url(/email.svg)
    background-repeat: no-repeat
    background-size: 17px
    background-position: 3% 48%
.login-head
  text-align: center
  margin-bottom: .5em
  h1
    color: $accent-color
.not-signup
  margin: 1em
  text-align: center
