// Colors
$primary-color:        #23e0b9
$accent-color:         #6a6a69
$text-color:           #b8b8b8
$divider-color:        #f0f0f0



// Fonts
// $headline-font: 'Roboto', sans-serif
$headline-font: 'Roboto Condensed', serif
$content-font: 'Roboto', sans-serif
