// Colors
$primary-color:        #0e7ca2
$accent-color:         #2b3438
$primary-text-color:   #3f849c
$secondary-text-color: #677a85
$divider-color:        #131719

// Fonts
$headline-font: 'Montserrat', sans-serif
$content-font: 'Roboto', sans-serif
