// Colors
$primary-color:        #3f849c
$accent-color:         #1c2224
$primary-text-color:   #3f849c
$secondary-text-color: #5a6b75
$divider-color:        #131719

// Fonts
$headline-font: 'Montserrat', sans-serif
$content-font: 'Roboto', sans-serif
