<%= form_for(faculty) do |f| %>
  <% if faculty.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% faculty.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.text_field :name, placeholder: "faculty name" %><br>
  <%= f.submit "Add", class: "btn" %>

<% end %>
