<div class="container document-form">
  <%= render 'form', document: @document %>
  <div class="new-text">
    <h1>New Document</h1>
    <ul>
      <li>Lorem ipsum dolor sit amet, conse </li>
      <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, </li>
      <li>Lorem ipsum dolor sit amet, consectetur elit, </li>
      <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, </li>
      <li>Lorem ipsum dolor sit amet, consectetur adipisicing </li>
      <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, </li>
    </ul>
  </div>
</div
