<div class="container document-form">
  <%= render 'form', document: @document %>
  <div class="new-text">
    <h1>New Document</h1>
    <ul>
      <li>Upload your documents in PDF, DOC, PPT and SLX types.</li>
      <li>Write a meaningful title that describe your document.</li>
      <li>The Document you will upload it will be review and will appear after approved.</li>
    </ul>
  </div>
</div
