@import "sass/normalize"

body
  background: #f4f4f4
  background-image: url(/header-pattern-dark.svg)
  background-size: 150px
  background-position: 20px
  font-family: 'Roboto Condensed', serif
  color: #6b777c
  //#23e0b9

#Header
  background-image: url(/landing/headerbg.svg)
  background-position: top left
  background-size: cover
  background-repeat: no-repeat
  width: 100%
  height: 600px
  position: relative
  .logo
    width: 170px
    position: absolute
    top: 20px
    left: 10%
  .shapes
    position: absolute
    top: 80px
    right: 0
    width: 60%
    max-width: 2000px
  .description
    position: absolute
    top: 150px
    left: 10%
    color: white
    max-width: 650px
    word-wrap: break-word
    font-size: 2.5em
    font-weight: 300
  .buttons
    position: absolute
    top: 40px
    right: 10%
    .login
      padding: .5em 3em
      text-align: center
      background: transparent
      border: 1px solid white
      color: white
      margin-right: 1em
      border-radius: 5px
    .register
      padding: .5em 3em
      text-align: center
      background: white
      border: 1px solid white
      color: #6b777c
      border-radius: 5px

.line
  height: 1px
  width: 80%
  max-width: 1000px
  background: #e2e2e2
  margin: 3em  auto
#Explore_section
  flex-direction: column
  .explore
    padding: .5em 10em
    margin-top: 50px
    font-size: 2em
    text-align: center
    border: 2px solid #23e0b9
    background: transparent
    color: #23e0b9
    margin-right: 1em
    border-radius: 5px
  .text
    font-size: 5em
    font-weight: 300
#Document_section
  margin-top: 50px
#Video_section
  img
    margin-right: 1.5em
#Discuss_section_hidden
  display: none
  visibility: hidden
#Discuss_section
  img
    margin-left: 1.5em
  .text
    p
      font-size: 4.5em
.section
  height: 500px
  width: 100%
  margin: 0 auto
  display: flex
  align-items: center
  justify-content: center
  img
    height: 280px
    margin: 0 .5em
  .text
    p
      font-size: 4.3em
      font-weight: 300
      margin: 0
      margin-bottom: 10px
    small
      font-size: 2em
      font-style: italic
      font-weight: 300
      color: #a7b0b4

#Footer
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  height: 500px
  width: 100%
  img
    width: 400px
  p
    font-size: 3em
    font-weight: 300
    margin-top: .5em
.alert
  width: auto
  padding: 1em
  height: 50px
  color: #fff
  position: fixed
  display: flex
  align-items: center
  justify-content: space-around
  border-radius: 3px
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.2)
  z-index: 10000
  bottom: 50px
  right: 50px
  opacity: .9
  button
    background: transparent
    outline: none
    color: #fff
    border: 1px solid #fff
    border-radius: 3px
    margin-left: 1em
    cursor: pointer
    font-family: 'Roboto Condensed', serif
    font-size: 1.1em
    padding-bottom: .15em
.alert-notice
  background: #ffa100
.alert-success
  background: #4bc90f
.alert-alert
  background: #ed4113

/////////////////////////////////////////////////



@media(max-width: 1300px)
  #Header
    .description
      font-size: 2.0em
      max-width: 500px

@media(min-width: 1500px)
  #Document_section
    margin-top: 300px
  #Header
    .logo
      width: 180px
    .description
      top: 200px
      font-size: 3.2em
      max-width: 800px
@media(min-width: 2200px)
  #Header
    .logo
      width: 300px
    .description
      top: 250px
      font-size: 5em
      max-width: 1200px
@media(max-width: 950px)
  #Header .description
    font-size: 1.8em
@media(max-width: 950px)
  #Header .shapes
    width: 60%
    top: 150px
@media(max-width: 720px)
  #Discuss_section_hidden
    display: flex
    visibility: visible
  #Discuss_section
    display: none
    visibility: hidden
  #Explore_section
    .text
      font-size: 2.5em !important
    .explore
      padding: 1em 3em
  .section
    height: auto
    width: 100%
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    img
      height: 250px
      margin: 0 .5em
    .text
      width: 50%
      text-align: center
      margin-top: 1em
      p
        font-size: 2.5em
      small
        font-size: 1em

  #Header
    height: 1100px
    .logo
      left: calc(50% - 85px)
    .shapes
      width: 80%
      top: 150px
    .description
      top: 650px
    .buttons
      right: calc(50% - 141px)
      top: 130px
@media(max-width: 600px)
  #Header
    .shapes
      width: 100%
      top: 180px
    .description
      top: 670px
@media(max-width: 450px)
  #Header
    height: 1050px
    .description
      top: 590px
@media(max-width: 400px)
  #Header .description
    top: 550px
@media(max-width: 320px)
  #Header .description
    top: 500px

// @media(max-width: 550px)
//   #Header
//     height: 1100px
//     .logo
//       left: calc(50% - 85px)
//     .shapes
//       width: 100%
//       top: 180px
//     .description
//       top: 650px
//     .buttons
//       right: calc(50% - 141px)
//       top: 130px
