<footer id="Footer">
  <div class="about">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
    </p>
  </div>
  <div class="social flex-start">
    <span>Follow Us</span>
    <a class="facebook social-link">
      <svg class="icon-facebook"><use xlink:href="<%= asset_path 'icons.svg' %>#icon-facebook"></use></svg>
      </a>
    <a class="twitter social-link">
      <svg class="icon-twitter"><use xlink:href="<%= asset_path 'icons.svg' %>#icon-twitter"></use></svg>
    </a>
    <a class="youtube social-link">
      <svg class="icon-youtube"><use xlink:href="<%= asset_path 'icons.svg' %>#icon-youtube"></use></svg>
    </a>
  </div>
</footer>
