<footer id="Footer">
  <div class="about">
    <p>
      Copyrights 2017 &copy; 3lmny initiative
    </p>
  </div>
  <div class="social flex-start">
    <span>Follow Us </span>
    <a class="facebook social-link" href="https://www.facebook.com/groups/almny/">
      <svg class="icon-facebook"><use xlink:href="<%= asset_path 'icons.svg' %>#icon-facebook"></use></svg>
      </a>
    <a class="twitter social-link" href="#">
      <svg class="icon-twitter"><use xlink:href="<%= asset_path 'icons.svg' %>#icon-twitter"></use></svg>
    </a>
    <a class="youtube social-link" href="#">
      <svg class="icon-youtube"><use xlink:href="<%= asset_path 'icons.svg' %>#icon-youtube"></use></svg>
    </a>
  </div>
</footer>
